{%- if settings.show_announcement -%}
  {% assign font_size_class = '' %}
  {% case settings.announcement_font_size %}
    {% when 'pequeno' %}
      {% assign font_size_class = 'announcement-bar--small' %}
    {% when 'medio' %}
      {% assign font_size_class = 'announcement-bar--medium' %}
    {% when 'grande' %}
      {% assign font_size_class = 'announcement-bar--large' %}
  {% endcase %}

  {% assign font_weight_class = '' %}
  {% case settings.announcement_font_weight %}
    {% when 'normal' %}
      {% assign font_weight_class = 'announcement-bar--normal' %}
    {% when 'bold' %}
      {% assign font_weight_class = 'announcement-bar--bold' %}
  {% endcase %}

  <div
    class="announcement-bar {{ font_size_class }} {{ font_weight_class }}"
    style="background-color: {{ settings.announcement_bar_background }}; color: {{ settings.announcement_bar_color }};"
  >
    <div
      class="announcement-bar__wrapper"
      data-scroll-duration="{{ settings.announcement_scroll_duration | default: 45 }}"
    >
      <div class="announcement-bar__content">
        {% assign texts = '' %}
        {% assign texts = texts | append: settings.announcement_bar_text_1 %}
        {% assign texts = texts | append: '|' | append: settings.announcement_bar_text_2 %}
        {% assign texts = texts | append: '|' | append: settings.announcement_bar_text_3 %}
        {% assign texts = texts | append: '|' | append: settings.announcement_bar_text_4 %}
        {% assign texts = texts | append: '|' | append: settings.announcement_bar_text_5 %}
        {% assign texts = texts | append: '|' | append: settings.announcement_bar_text_6 %}
        {% assign phrases = texts | split: '|' %}

        {% for text in phrases %}
          {% unless text == blank %}
            <span class="announcement-bar__item">{{ text }}</span>
          {% endunless %}
        {% endfor %}
      </div>
    </div>
  </div>
{%- endif -%}
